* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
header {
   width: 100%;
   padding: 0vw 10vw;
   display: flex;
   justify-content: space-between;
   align-content: center;
   align-items: center;
   flex-wrap: wrap;
   color: #19b1bc;
}

header p {
   padding: 0px 20px;
   text-align: center;
   line-height: 1.2;
}
.navbar {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
}
.navbar img {
   margin: 20px;
}
ul {
   display: flex;
   list-style: none;
}
ul li {
   padding-left: 10px;
}

a {
   text-decoration: none;
   color: gray;
}

a.active {
   color: #19b1bc;
}

button {
   background-color: #19b1bc;
   color: white;
   padding: 10px 40px;
   border-radius: 50px;
   border: none;
   margin: 10px;
}

button a {
   color: white;
}

.hero {
   height: 60vh;
   background-position: center;
   background-size: cover;
   display: flex;
   align-items: center;
   padding-left: 18vw;
}

.insideHero {
   text-align: center;
}

.insideHero button a {
   color: white;
}
.hero h1 {
   color: gray;
}

footer {
   width: 100%;
   background-color: #19b1bc;
   padding: 2em;
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   color: white;
}

footer img {
   width: 45px;
   margin: 10px;
}

.iconCardsContainer {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   padding: 20px 0px;
}

.iconCard {
   text-align: center;
   padding: 20px;
   border-radius: 20px;
   margin: 20px;
   width: 220px;
}

.iconCard h3 {
   color: gray;
}

.description {
   align-items: center;
   min-height: 500px;
   background-position: center;
   background-size: cover;
}

.description div {
   padding: 10vw;
   /* color: gray; */
   text-align: center;
   line-height: 2.3;
}

.contenedor {
   min-height: 80vh;
}

.contenedor1 {
   display: flex;
}

.doctor-image {
   width: 200px;
   height: 200px;
   background-position: center;
   background-size: cover;
   border-radius: 100px;
}
.section-doctors {
   display: flex;
   justify-content: space-evenly;
   text-align: center;
}
.icono {
   width: 2vw;
}

.container {
   text-align: center;
   align-self: center;
   min-height: 80vh;
}

.signUpForm {
   text-align: center;
   background-color: #f0f3f5;
   padding: 30px;
   min-height: 80vh;
}

.radio {
   display: flex;
   justify-content: center;
}

.radio div {
   padding: 10px;
}

.inputs {
   text-align: center;
   display: flex;
   flex-direction: column;
}

.inputs input {
   padding: 10px;
   border-radius: 50px;
   border: 2px gray solid;
   margin: 10px;
   width: 400px;
   align-self: center;
   outline: none;
}

.footerNavbar li p {
   color: white;
   padding: 15px;
}

.profile {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 20px;
}

.profileImg {
   width: 170px;
   margin: 2rem;
}

.leftProfile {
   display: flex;
   flex-direction: column;
   background-color: #f0f3f5;
   width: 300px;
   align-items: center;
   padding: 22px;
   min-height: 70vh;
}

.leftProfile button a {
   color: white;
}

.leftProfile p {
   text-align: center;
   padding: 20px 0px;
}

.rightProfile {
   display: flex;
   flex-direction: column;
   background-color: #19b1bc;
   width: 300px;
   padding: 22px;
   align-items: center;
}

.preview {
   height: 25vh;
   width: 300px;
   margin: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   background-color: white;
   border-radius: 20px;
   border: 2px gray solid;
}

.centroProfile {
   display: flex;
   flex-direction: column;
   min-width: 600px;
}

.proxTurnos {
   color: white;
   padding-top: 1rem;
}

.tituloProfile {
   align-self: center;
}

.turnos {
   color: white;
}

.datosProfile {
   text-align: left;
   padding: 20px;
}

.datosProfile p {
   text-align: left;
}

.dataClient {
   height: 80vh;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
   background-color: rgb(255, 255, 255);
}

.doctorCardsContainer {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 20px 60px;
}

.doctorCard {
   width: 200px;
   text-align: center;
   color: black;
}
.doc {
   width: 200px;
   height: 200px;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
}
.cvDoc {
   display: flex;
   padding: 20px 60px;
   padding-left: 200px;
   justify-content: start;
}
.containerDocCv {
   text-align: center;
   align-self: center;
   background-color: #f0f3f5;
}
.docDescription p {
   padding: 20px 100px;
   text-align: center;
}
.docInfo {
   text-align: left;
   padding-left: 20px;
}
.divReview {
   width: 80vw;
   max-height: 25vh;
   display: flex;
   flex-direction: column;
   align-content: center;
}

.divReview input {
   padding: 10px;
   border-radius: 50px;
   border: 2px gray solid;
   margin: 10px;
   width: 400px;
   align-self: center;
   outline: none;
}

#optionObraSocial {
   padding: 10px;
   border-radius: 50px;
   border: 2px gray solid;
   margin: 10px;
   width: 400px;
   align-self: center;
   outline: none;
   color: gray;
   appearance: none;
}

#optionDoctor {
   padding: 10px;
   border-radius: 50px;
   border: 2px gray solid;
   margin: 10px;
   width: 400px;
   align-self: center;
   outline: none;
   color: gray;
   appearance: none;
}

#fileCharger {
   background-color: white;
   color: gray;
}

.underConstruction {
   height: 300px;
   width: 300px;
   margin-top: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
   align-self: center;
   background-color: #f0f3f5;
   border-radius: 20px;
}

@media (max-width: 991px) {
   .inputs input {
      padding: 10px;
      border-radius: 50px;
      border: 2px gray solid;
      margin: 10px;
      width: 85%;
      align-self: center;
      outline: none;
   }
   #optionObraSocial {
      padding: 10px;
      border-radius: 50px;
      border: 2px gray solid;
      margin: 10px;
      width: 85%;
      align-self: center;
      outline: none;
      color: gray;
      appearance: none;
   }
   .hero {
      height: 60vh;
      background-position: center;
      background-size: cover;
      text-align: center;
      padding: 20vw;
   }
   header p {
      padding: 0px 10px;
   }
   .description div {
      line-height: 2;
   }
   header {
      width: 100%;
      padding: 0vw 10vw;
      display: flex;
      justify-content: center;
   }
}

.pageDoctor {
   display: flex;
}

.imgTurnos {
   width: 50px;
}

#buttonSign {
   cursor: pointer;
}
